<div class="ui container">
  <div class="ui center aligned header">Tree view in accordions POC</div>
  <div class="ui equal width columns grid">
    <div class="ui column" *ngFor="let i of items">
      <sui-accordion [closeOthers]="false">
        <sui-accordion-panel [isOpen]="i.isOpen" [isDisabled]="true">
          <div title>
            <i class="dropdown icon" (click)="i.isOpen = !i.isOpen"></i>
            <sui-checkbox [isIndeterminate]="i.isIndeterminate" (checkChange)="checkItemsAndChildren(i)"
              [(ngModel)]="i.checked">{{ i.title }}</sui-checkbox>
          </div>
          <div content class="indent">
            <sui-accordion [closeOthers]="false">
              <sui-accordion-panel *ngFor="let child of i.children" [isOpen]="child.isOpen" [isDisabled]="true">
                <div title>
                  <i class="dropdown icon" (click)="child.isOpen = !child.isOpen"></i>
                  <sui-checkbox [isIndeterminate]="child.isIndeterminate" (checkChange)="checkChildren(child)"
                    [(ngModel)]="child.checked">{{ child.title }}</sui-checkbox>
                </div>
                <div content class="indent">
                  <sui-accordion>
                    <sui-accordion-panel *ngFor="let child1 of child.children">
                      <div title class="indent">
                        <sui-checkbox [(ngModel)]="child1.checked" (checkChange)="checkChildren(child)">
                          {{ child1.title }}</sui-checkbox>
                      </div>
                    </sui-accordion-panel>
                  </sui-accordion>
                </div>
              </sui-accordion-panel>
            </sui-accordion>
          </div>
        </sui-accordion-panel>
      </sui-accordion>
    </div>
  </div>
</div>